.changepass{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.changepassform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(245, 245, 245, 0.882);
    height: 50vh;
    width: 330px;
    border-radius: 10px;
}
.changepasshd{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
    padding: 20px 0; 
    color: black;
    text-decoration: underline;
}
.changepassinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.changepassbtn{
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    height: 40px;
}
.changepassbtn:hover{
    background-color: black;
    transform: scale(1.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6); 
}

@media (max-width: 480px) {
    .changepassform{
        width:300px ;
        height: 300px;
    }
}